@page "/shoppingcart"
@using Core.Services
@using Core.DTOs
@rendermode InteractiveServer
@inject ProductService productService

<div class="container w-50">
    <h1 class="text-center">Shopping Cart</h1>

    <div class="d-flex justify-content-center m-5 p-3">
        <ul class="list-group">
            @foreach (var item in listedCartItems)
            {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="d-flex flex-row align-items-center">
                        <img src="@($"{picFolder}{item.PictureUrl}")" alt="@item.AlbumTitle" class="img-thumbnail" style="width: 50px; height: 50px; margin-right: 10px;">
                        <div>
                            <h5>@item.AlbumTitle</h5>
                            <small class="text-muted">@item.Artist</small>
                        </div>
                    </div>
                    <div class="d-flex flex-row align-items-center">
                        <span class="mx-2">@item.Quantity</span>
                        <div class="col">
                            <MudButton Class="btn btn-outline-secondary" Size="Size.Small">
                                <MudIcon Icon="@Icons.Material.Filled.Remove" Size="Size.Small" />
                            </MudButton>
                            <MudButton Class="btn btn-outline-secondary" Size="Size.Small">
                                <MudIcon Icon="@Icons.Material.Filled.Add" Size="Size.Small"/>
                            </MudButton>
                        </div>
                    </div>
                    <span class="text-muted">@item.Price</span>
                </li>
            }

        </ul>
    </div>

    <hr>

    <div class="d-flex justify-content-between align-items-center">
        <button class="btn btn-primary">Purchase</button>
        <span class="h5">Total: @listedCartItems.Sum(item => item.Price * item.Quantity)</span>
    </div>
</div>

@code {
    public static CartDTO MyCart = new();
    public List<CartItemDTO> listedCartItems { get; set; }

    public string picFolder = "/images/AlbumCovers/";

    protected override async Task OnInitializedAsync()
    {

        listedCartItems = MyCart.CartItems.ToList();

    }




}
