@page "/editproducts"
@rendermode InteractiveServer
@using Core.DTOs
@using Core.Entites
@using Core.Services
@using System.ComponentModel.DataAnnotations
@using System.Text.RegularExpressions
@using MudBlazor.Charts
@inject ProductService productService
@inject CategoryService categoryService

<div class="d-flex flex-row gap-10">
    <MudItem xs="12" sm="4">
        <MudPaper Class="pa-4">
            <MudForm Model="@productDto" @ref="form" @bind-IsValid="@formSuccess">

                <MudTextField @bind-Value="productDto.Name" T="string" Label="Product Name" />
                <MudTextField @bind-Value="productDto.Price" T="decimal" Label="Price" />
                <MudTextField @bind-Value="productDto.StockQuantity" T="int" Label="Stock" />
                <MudSelect T="CategoryDTO" Label="Select Category" @bind-Value="selectedCategory">
                    @foreach (var category in categories)
                    {
                        <MudSelectItem T="CategoryDTO" Value="category">@category.Name</MudSelectItem>
                    }
                </MudSelect>
                <MudSwitch @bind-Value="productDto.IsProductAvailable" Label="Available" Color="Color.Success" UncheckedColor="Color.Error" />
                <div class="d-flex align-center justify-space-between">
                    <MudButton Style="margin: 10px" Size="Size.Small" Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!formSuccess)" Class="ml-auto" OnClick="@CreateProduct">Add</MudButton>
                </div>
            </MudForm>
        </MudPaper>
    </MudItem>



    <MudItem xs="12" sm="6">
        <MudDataGrid T="ProductDTO" Items="@products" Filterable="false" SortMode="@SortMode.None" Groupable="false" Bordered="true" ColumnResizeMode="ResizeMode.Column" ReadOnly="false"
                     EditMode="DataGridEditMode.Form" StartedEditingItem="@StartedEditingItem" CanceledEditingItem="@CanceledEditingItem" CommittedItemChanges="@CommittedItemChanges">
            <Columns>
                <PropertyColumn Property="x => x.Name" Title="Product Name" />
                <PropertyColumn Property="x => x.Price" />
                <PropertyColumn Property="x => x.StockQuantity" Title="Stock" />
                <PropertyColumn Property="x => x.IsProductAvailable" Title="Available" />
                <PropertyColumn Property="x => x.Category.Name" Title="Category" />
                <TemplateColumn CellClass="justify-content">
                    <CellTemplate>
                        <MudStack Row>
                            <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" OnClick="@context.Actions.StartEditingItemAsync" />
                            <MudIconButton @onclick="@(()=>DeleteProduct(context.Item.Id))" Color="Color.Secondary" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" />
                        </MudStack>
                    </CellTemplate>
                </TemplateColumn>
            </Columns>
        </MudDataGrid>
    </MudItem>
</div>

@code {
    public IEnumerable<ProductDTO> products;
    public IEnumerable<CategoryDTO> categories = Enumerable.Empty<CategoryDTO>();

    private ProductDTO productDto = new() { Category = new Category() { Id = 0, Name = string.Empty } };
    private List<string> _events = new();
    private CategoryDTO selectedCategory;
    bool formSuccess;
    MudForm form;

    protected override async Task OnInitializedAsync()
    {
        await ListProducts();
        await ListCategories();
    }

    // Product events
    void StartedEditingItem(ProductDTO item)
    {
        _events.Insert(0, $"Event = StartedEditingItem, Data = {System.Text.Json.JsonSerializer.Serialize(item)}");
    }

    void CanceledEditingItem(ProductDTO item)
    {
        _events.Insert(0, $"Event = CanceledEditingItem, Data = {System.Text.Json.JsonSerializer.Serialize(item)}");
    }

    async Task CommittedItemChanges(ProductDTO item)
    {
        _events.Insert(0, $"Event = CommittedItemChanges, Data = {System.Text.Json.JsonSerializer.Serialize(item)}");
        await EditProduct(item.Id, item);
    }

    public async Task ListProducts()
    {
        products = await productService.GetAllAsync();
    }
    public async Task ListCategories()
    {
        categories = await categoryService.GetAllAsync();
    }
    private async Task CreateProduct()
    {
        productDto.Category.Name = selectedCategory.Name;
        await productService.PostAsync(productDto);
        await ListProducts();

    }
    public async Task EditProduct(int productId, ProductDTO updatedProduct)
    {
        await productService.UpdateProductAsync(productId, updatedProduct);
        await ListProducts();
    }
    public async Task DeleteProduct(int productId)
    {
        await productService.DeleteAsync(productId);
        await ListProducts();
    }
}
